<div class="overlay"></div>
<div class="wrapper">
  <div class="title">{{ title }}</div>
  <form (ngSubmit)="submit()" [formGroup]="form" class="form">
    <div class="form-attribut-wrapper">
      <label for="id">ID:</label>
      <input [value]="getId()" disabled id="id" type="text" />
    </div>

    <div class="form-attribut-wrapper">
      <label for="participant">Sender / Empfänger:</label>
      <input
        formControlName="participant"
        id="participant"
        required
        type="text"
      />
    </div>

    <div class="form-attribut-wrapper">
      <label for="datetime">Datum:</label>
      <input
        formControlName="datetime"
        id="datetime"
        required
        type="datetime-local"
      />
    </div>

    <div class="form-attribut-wrapper">
      <label for="amount">Betrag:</label>
      <input
        formControlName="amount"
        id="amount"
        required
        step="0.01"
        type="number"
      />
    </div>

    <div class="form-attribut-wrapper">
      <label for="tags">Tags:</label>
      <input formControlName="tags" id="tags" type="text" />
    </div>

    <button [disabled]="!form.valid" label="Speichern" pButton></button>
  </form>
  <div class="bottom">
    <button (click)="abort()" icon="pi pi-times" pButton></button>
  </div>
</div>
