<div class="overlay"></div>
<div class="wrapper">
  <div class="title">{{ title }}</div>
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-attribut-wrapper">
      <label for="name">ID: </label>
      <input type="text" id="id" [value]="getId()" disabled />
    </div>

    <div class="form-attribut-wrapper">
      <label for="name">Sender / Empfänger: </label>
      <input type="text" id="name" formControlName="participant" required />
    </div>

    <div class="form-attribut-wrapper">
      <label for="datetime">Datum: </label>
      <input
        type="datetime-local"
        id="datetime"
        formControlName="datetime"
        required
      />
    </div>

    <div class="form-attribut-wrapper">
      <label for="amount">Betrag: </label>
      <input
        type="number"
        id="amount"
        formControlName="amount"
        step="0.01"
        required
      />
    </div>

    <div class="form-attribut-wrapper">
      <label for="tags">Tags: </label>
      <input type="text" id="tags" formControlName="tags" />
    </div>

    <button
      pButton
      label="Speichern"
      (click)="submit()"
      [disabled]="form.pristine"
    ></button>
  </form>
  <div class="bottom">
    <button pButton icon="pi pi-times" (click)="abort()"></button>
  </div>
</div>
