<app-titleBar
  [showAddButton]="true"
  [showBackButton]="true"
  pageName="Cashflow"
/>

<div class="search-bar">
  <div class="search-input-wrapper">
    <input
      (input)="onInputChanged($event)"
      [(ngModel)]="searchInput"
      class="search-input"
      placeholder="Gib einen Suchbegriff ein..."
      type="text"
    />
    <button
      (click)="filterValues()"
      class="search-button"
      icon="pi pi-search"
      pButton
    ></button>
  </div>
</div>

<div class="cashflow-overview">
  <div class="column">
    <div class="column-header">Einnahmen</div>
    <div class="card-wrapper">
      <ng-container *ngFor="let cashflow of incomeData">
        <app-cashflow-card-normal
          (tagButtonClick)="tagButtonClicked($event)"
          [data]="cashflow"
        />
      </ng-container>
    </div>
  </div>
  <div class="column">
    <div class="column-header">Ausgaben</div>
    <div class="card-wrapper">
      <ng-container *ngFor="let cashflow of spendingData">
        <app-cashflow-card-normal
          (tagButtonClick)="tagButtonClicked($event)"
          [data]="cashflow"
        />
      </ng-container>
    </div>
  </div>
</div>
