<app-title-bar
  (dataChanged)="dataChanged()"
  [showAddButton]="true"
  [showBackButton]="true"
  pageName="Cashflow"
></app-title-bar>

<div class="search-bar">
  <div class="search-input-wrapper">
    <input
      (input)="onInputChanged($event)"
      [(ngModel)]="searchInput"
      class="search-input"
      placeholder="Gib einen Suchbegriff ein..."
      type="text"
    />
    <button
      (click)="filterValues()"
      class="search-button"
      icon="pi pi-search"
      pButton
    ></button>
  </div>
</div>

<div class="cashflow-overview">
  <div class="column">
    <div class="column-header">Einnahmen</div>
    <div class="card-wrapper">
      <app-cashflow-card-normal
        (dataChanged)="dataChanged()"
        (tagButtonClick)="tagButtonClicked($event)"
        *ngFor="let cashflow of incomeData"
        [data]="cashflow"
      ></app-cashflow-card-normal>
    </div>
  </div>
  <div class="column">
    <div class="column-header">Ausgaben</div>
    <div class="card-wrapper">
      <app-cashflow-card-normal
        (tagButtonClick)="tagButtonClicked($event)"
        *ngFor="let cashflow of spendingData"
        [data]="cashflow"
      ></app-cashflow-card-normal>
    </div>
  </div>
</div>
