@import "../../../../colors";

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% 10%;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, $text-color, $accent-color);
  color: $background-color;

  .data {
    margin: 2%;

    .participant {
      font-size: 200%;
      font-weight: bold;
    }
  }

  .amount {
    margin: 2%;
    font-size: 250%;
    font-weight: bold;
  }

  .income {
    color: $income-color;
  }

  .spending {
    color: $spending-color;
  }
}
