@import "../../../../colors";

.card {
  background-image: linear-gradient(to bottom, $text-color, $accent-color);
  color: $background-color;
  border-radius: 10px;
  margin: 2%;

  .wrapper {
    padding: 2%;

    .table {
      display: flex;

      .column {
        flex: 1;

        .participant {
          font-size: 200%;
          font-weight: bold;
        }

        .date {
          font-size: 150%;
          margin: 2% 0;
        }
      }

      .centered {
        display: flex;
        justify-content: center;

        .amount {
          font-size: 300%;
          font-weight: bold;
        }

        .income {
          color: $income-color;
        }

        .spending {
          color: $spending-color;
        }
      }
    }

    .tags-wrapper {
      display: flex;
      align-items: center;

      .tag-lable {
        margin-right: 1%;
        font-size: 150%;
      }

      button {
        background-color: $background-color;
        color: $accent-color;
        border: none;
        border-radius: 25px;
        margin-right: 1%;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}

.dropdown {
  position: relative;
  display: flex;
  float: right;

  .dropdown-button {
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    float: right;

    .line {
      display: block;
      width: 20px;
      height: 2px;
      background-color: #000;
      margin-bottom: 4px;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $text-color;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0;
  transform: translateX(-100%);

  a {
    color: $background-color;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: $accent-color;
    }
  }

  .delete {
    color: $spending-color;
  }

  .dropdown:hover & {
    display: block;
    cursor: pointer;
  }
}
