<div class="card">
  <div class="wrapper">
    <div class="dropdown">
      <button class="dropdown-button">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </button>
      <div class="dropdown-content">
        <a (click)="editEntry()">Editieren</a>
        <a (click)="deleteEntry()" class="delete">Löschen</a>
      </div>
    </div>
    <div class="table">
      <div class="column">
        <div class="participant">{{ CashflowWrapper.Participant }}</div>
        <div class="date">{{ CashflowWrapper.FormattedDate }}</div>
      </div>
      <div class="column centered">
        <div *ngIf="data.IsIncome" class="amount income">
          {{ CashflowWrapper.FormattedAmount }}
        </div>
        <div *ngIf="!data.IsIncome" class="amount spending">
          {{ CashflowWrapper.FormattedAmount }}
        </div>
      </div>
    </div>
    <div class="tags-wrapper">
      <div class="tag-lable">Tags:</div>
      <button
        (click)="tagButtonClicked(tag)"
        *ngFor="let tag of CashflowWrapper.Tags"
        pButton
      >
        {{ tag }}
      </button>
    </div>
  </div>
</div>
