@import "src/colors";

.header {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;

  .left,
  .right {
    display: flex;
    justify-content: center;
  }

  .title {
    text-align: center;
    margin: 2%;
    font-size: 222%;
    font-weight: bold;
    text-shadow: 0 0 10px $accent-color;
  }

  button {
    display: flex;
    background-color: $accent-color;
    color: $background-color;
    border-color: $accent-color;
    font-weight: bold;
    margin: 15px;
  }
}
