<app-titleBar pageName="Übersicht" />

<div class="overview">
  <app-balance-overview [chartData]="getChartData()" />
  <div class="centered">
    <div class="current-balance">Aktueller Kontostand:</div>
    <div class="current-balance-amount">500000 €</div>
  </div>
</div>

<div class="cashflow">
  <div class="cashflow-column">
    <div class="label">Einnahmen</div>
    <button
      pButton
      icon="pi pi-search"
      pTooltip="Einnahme anzeigen"
      tooltipPosition="top"
      (click)="navigateToIncomePage()"
    ></button>
    <button
      pButton
      icon="pi pi-plus"
      pTooltip="Einnahme hinzufügen"
      tooltipPosition="top"
    ></button>
  </div>
  <div class="cashflow-column">
    <div class="label">Ausgaben</div>
    <button
      pButton
      icon="pi pi-search"
      pTooltip="Ausgaben anzeigen"
      tooltipPosition="top"
      (click)="navigateToExpansePage()"
    ></button>
    <button
      pButton
      icon="pi pi-plus"
      pTooltip="Ausgabe hinzufügen"
      tooltipPosition="top"
    ></button>
  </div>
</div>
