<app-titleBar pageName="Übersicht" />

<div class="content">
  <div class="overview">
    <app-balance-overview [chartData]="getChartData()" />
    <div class="centered">
      <div class="current-balance">Aktueller Kontostand:</div>
      <div class="current-balance-amount">{{ getCurrentBalance() }} €</div>
    </div>
  </div>

  <div class="cashflow">
    <div class="cashflow-column">
      <div class="label">Einnahmen & Ausgaben</div>
      <button
        pButton
        icon="pi pi-search"
        pTooltip="Details anzeigen"
        tooltipPosition="top"
        (click)="navigateToCashflowPage()"
      ></button>
      <button
        pButton
        icon="pi pi-plus"
        pTooltip="Cashflow hinzufügen"
        tooltipPosition="top"
      ></button>
    </div>
    <div class="last-cashflows">
      <app-cashflow-card-slim
        *ngFor="let cashflow of getLastCashflows()"
        [data]="cashflow"
      />
    </div>
  </div>
</div>
