<app-title-bar pageName="Übersicht"></app-title-bar>

<div class="content">
  <div class="overview">
    <app-balance-overview></app-balance-overview>
    <div class="centered">
      <div class="current-balance">Aktueller Kontostand:</div>
      <div class="current-balance-amount">{{ currentBalance }}</div>
    </div>
  </div>

  <div class="cashflow">
    <div class="cashflow-column">
      <div class="label">Einnahmen & Ausgaben</div>
      <button
        (click)="navigateToCashflowPage()"
        icon="pi pi-search"
        pButton
        pTooltip="Details anzeigen"
        tooltipPosition="top"
      ></button>
      <button
        (click)="addNewCashflow()"
        icon="pi pi-plus"
        pButton
        pTooltip="Cashflow hinzufügen"
        tooltipPosition="top"
      ></button>
    </div>
    <div class="last-cashflows">
      <app-cashflow-card-slim
        *ngFor="let cashflow of LastCashflows"
        [data]="cashflow"
      ></app-cashflow-card-slim>
    </div>
  </div>
</div>
