@import "../../../colors";

.title {
  text-align: center;
  margin: 2%;
  font-size: 222%;
  font-weight: bold;
  text-shadow: 0 0 10px $accent-color;
}

.content {
  display: flex;

  .overview {
    flex: 0 0 75%;
    display: flex;
    flex-direction: column;

    .centered {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2%;

      .current-balance {
        text-align: center;
        margin-bottom: 10px;
        font-size: 200%;
        font-weight: bold;
        text-shadow: 0 0 10px $accent-color;
      }

      .current-balance-amount {
        font-size: 400%;
        font-weight: bold;
        text-shadow: 0 0 10px $accent-color;
      }
    }
  }

  .cashflow {
    flex: 1;

    .cashflow-column {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5% 5% 0 5%;

      .label {
        font-size: 200%;
        font-weight: bold;
        text-shadow: 0 0 10px $accent-color;
        margin-right: 10px;
      }

      button {
        display: flex;
        background-color: $accent-color;
        color: $background-color;
        border-color: $accent-color;
        margin-left: 15px;
      }
    }
  }
}
